@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.space {
    padding: 20px 70px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
}

.menu {
    display: none;
}

.menu iconify-icon{
    font-size: 2.2rem;
    color: rgb(6, 26, 44);
    cursor: pointer;
}

nav .logo {
    width: 60px;
    border-radius: none;
    height: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    color:rgb(7, 132, 241);
    transition: all ease-in-out .3s;
    position: relative;
}

nav ul li a:hover {
 color: #016170;   
}

nav ul li a:after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 0;
    background: #016170;
    transition: .3s;
}

nav ul li a:hover:after {
    width: 100%;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 45px;
    color: #016170;
    letter-spacing: 2px;
    font-size: .8rem;
    text-transform: uppercase;
    transition: color 0.5s;
}

.nav-links a:hover {
    color: #f3f3f3;
}
 
.hero {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(https://images.unsplash.com/photo-1507692049790-de58290a4334?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNodXJjaHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3f3f3;
}

.hero h1 {
    font-size: 3rem;
}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero p {
    width: 500px;
    font-size: 1.5rem;
}

.join {
    border: 1px solid black;
    border-radius: 50px;
    color: #f3f3f3;
     background: linear-gradient(to right, #0567CE, #C1ADBB, #0567CE);
     padding: 10px 40px;
     text-transform: uppercase;
     font-size: 1.5rem;
}

.about {
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 205, 235, .2);
}

.reused {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.reused h1 {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, .1);
    text-transform: uppercase;
}

.reused h3 {
    position: absolute;
    top: 22%;
    text-transform: uppercase;
    color: rgb(1, 47, 56);
    background: linear-gradient(to right, #0567CE, #092f57);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.about p {
    font-size: 1.3rem;
    width: 900px;
}

.services {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.services .grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 40px;
}

.services .grid div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border: 1px solid black;
    height: 35vh;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    color: #f3f3f3;
    font-size: 1.2rem;
}
.services .grid:hover{
    transform: scale(1.02);
    transition: 2s;
}
.same {
    background-position: center;
    background-size: cover;
}
.sunday {
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, .6),
                rgba(0, 0, 0, .6)), url(https://images.unsplash.com/photo-1514286969571-5142af56b991?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2slMjBjb25ncmVnYXRpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60);
}

.services .grid .wednesday {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)), url(https://media.istockphoto.com/id/172957107/photo/old-book.webp?b=1&s=170667a&w=0&k=20&c=xhMJB2HZoO7vbJMZPJCauVpu1p2kWPVVx0BoKNy6kzY=);
}
 
.services .grid .thursday {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)), url(https://images.unsplash.com/photo-1501691223387-dd0500403074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJhaW4lMjBzb2FrZWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60);
}

.services .grid .counselling {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)), url(https://media.istockphoto.com/id/1352621402/photo/middle-aged-man-covering-his-face-with-hand-during-meeting-with-a-psychologist.webp?b=1&s=170667a&w=0&k=20&c=tSQg8nk5OlZk9ffTxDDK8tvYh3yzfLtCKENjmt4LBgE=);
}

.messages {
    height: 70vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    text-align: center;
}

.messages .grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
}

iframe {
    border-radius: 20px;
}

.contact {
    height: 155vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color:antiquewhite;
}

.contact-det {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contact-det p {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.contact-icons {
    display: flex;
    gap: 20vh;
}

.contact-icons div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, .8);
    color: #f3f3f3;
}

.contact-icons div h4 {
    font-size: 1.3rem;
    font-weight: 200;
}

.contact-icons div iconify-icon {
    font-size: 2.5rem;
}
.contact-icons:hover{
    transform: scale(1.02);
    transition: 3s;
}
.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.socials p {
    font-size: 1.5rem;
}

 .media-icons {
    display: flex;
    gap: 20px;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
 }

 .give {
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: aliceblue;
    color: rgb(6, 26, 44);
 }

 .give p {
    font-size: 1.8rem;
 }

 footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top: solid 1px rgb(6, 26, 44);
    height: 20px;
    background-color: rgba(0, 0, 0, .8);
    color: #f3f3f3;
 }

 footer p {
    font-size: 1.1rem;
 }

 footer iconify-icon {
    font-size: 3rem;
    color: #f3f3f3;
 }
 
 
 @media (min-width: 300px) and (max-width:650px)  {
    .space {
        padding: 10px 30px;
    }

    .hero {
        padding-top: 100px;
        background-size:inherit;
        height: auto;
        padding-bottom: 50px;
    }

    nav {
        flex-direction: row-reverse;
    }

    .menu  {
        display: block;
    }

    nav ul {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 8vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
        min-height: 50vh;
        background-color:#0ed2f5;
        transition: transform 0.5s;
        transform: translateX(150px);
    }

    .nav-links a {
        font-size: .7rem;
        font-weight: 500;
    }

    .hero h1{
        font-size: 1.5rem;
        width: 300px;
    }

    .hero p {
        font-size: 1rem;
        width: 280px;
    }

    .reused h1 {
        font-size: 2rem;
    } 

    .reused h3 {
        font-size: 1rem;
    }

    .about p {
        font-size: 1rem;
        width: auto;
    }

    .services {
        height: auto;
    }

    .services .grid {
        grid-template-columns: repeat(1, 250px);
    }

    .services .grid div {
        height: auto;
        padding-bottom: 10px;
    }

    .messages {
        height: auto;
        padding-bottom: 50px;
    }
    .messages .grid {
        grid-template-columns: repeat(1, 350px);
        gap: 40px;
        align-items: center;
    }

    .contact {
        height: auto;
        padding-bottom: 20px;
    }

    .contact .contact-icons {
        flex-direction: column;
        gap: 50px;
    }

    .contact-det p {
        font-size: 1rem;
    }

    .contact-det iframe {
        width: 400px;
    }
    .give {
        height: auto;
        padding-bottom: 20px;
    }

    .give p {
        font-size: 1.2rem;
    }

    footer p{
        font-size: .7rem;
    }

    footer iconify-icon {
        font-size: 2rem;
    }

        .active-nav {
            transform: translateX(0);
        }
    
        .close-nav {
            transform: translateX(150px);
        }
 }

 @media (min-width: 651px) and (max-width: 850px) {
    .space {
            padding: 10px 30px;
        }
    
        .hero {
            padding-top: 100px;
            height: 55vh;
        }
    
        nav {
            flex-direction: row-reverse;
        }
    
        nav iconify-icon {
            display: inline-block;
        }
    
        .menu {
            display: block;
        }

        .nav-links {
            position: absolute;
            top: 8vh;
            right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 150px;
            min-height: 55vh;
            background-color:#fff;
            transition: transform 0.5s;
            transform: translateX(150px);
        }

        .nav-links a {
            font-size: .7rem;
            font-weight: 500;
        }

        .hero h1 {
            font-size: 1.5rem;
        }
    
        .hero p {
            font-size: 1rem;
            width: 280px;
        }
    
        .reused h1 {
            font-size: 2rem;
        }
    
        .reused h3 {
            font-size: 1rem;
        }
    
        .about p {
            font-size: 1rem;
            width: auto;
        }
    
        .services {
            height: auto;
            padding-bottom: 50px;
        }
    
        .services .grid {
            grid-template-columns: repeat(2, 250px);
        }

        .services .grid div {
            height: auto;
        }

        .contact {
            height: auto;
            padding-bottom: 20px;
        }
    
        .contact .contact-icons {
            gap: 50px;
        }
    
        .contact-det p {
            font-size: 1rem;
        }
    
        .contact-det iframe {
            width: 400px;
        }
    
        .give {
            height: auto;
            padding-bottom: 20px;
        }
    
        .give p {
            font-size: 1.2rem;
        }
    
        footer p {
            font-size: .7rem;
        }
    
        footer iconify-icon {
            font-size: 2rem;
        }

        .messages {
            height: auto;
            padding-bottom: 50px;
        }

    .messages .grid {
        grid-template-columns: repeat(3, 220px);
        align-items: center;
    }

    .messages .grid iframe {
        width: 220px;
    }

    .contact-icons {
        gap: 20px;
    }
    .contact-icons div {
        width: 180px;
        height: 180px;
        border-radius: 200px;
    }

    .contact-icons div h4 {
        font-size: .9rem;
        font-weight: 200;
    }
    
    .contact-icons div iconify-icon {
        font-size: 2.5rem;
    }

    .active-nav {
    transform: translateX(0);
    }

    .close-nav {
    transform: translateX(150px);
    }
 }

 @media (min-width: 851px) {
.space {
        padding: 10px 30px;
    }

    .hero {
        padding-top: 100px;
        height: 100vh;
    }

    nav iconify-icon {
        display: inline-block;
    }

    nav ul {
        display: none;
    }

    .hero h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .hero p {
        font-size: 1.5rem;
        width: 60%;
    }

    .reused h1 {
        font-size: 2rem;
    }

    .reused h3 {
        font-size: 1rem;
    }
    .about {
        height: auto;
        padding-bottom: 50px;
    }

    .about p {
        font-size: 1.5rem;
        width: auto;
    }

    .services {
        height: auto;
        padding-bottom: 100px;
    }

    .services .grid {
        grid-template-columns: repeat(2, 250px);
    }

    .services .grid div {
        height: auto;
    }

    .messages {
        height: auto;
        padding-bottom: 100px;
    }

    .messages .grid {
        grid-template-columns: repeat(3, 250px);
        align-items: center;
    }

    .messages .grid iframe {
        width: 250px;
    }

    .contact {
        height: auto;
        padding-bottom: 70px;
    }

    .contact .contact-icons {
        gap: 50px;
    }

    .contact-det p {
        font-size: 1rem;
    }

    .contact-det iframe {
        width: 400px;
    }

    .give {
        height: auto;
        padding-bottom: 100px;
    }

    .give p {
        font-size: 1.5rem;
    }

    footer p {
        font-size: .7rem;
    }

    footer iconify-icon {
        font-size: 2rem;
    }
 }


 
